@page
@model _223849J_OngSiXian.Pages.errors._403Model
@{
}

<div class="container">
    <div class="row">
        <div class="xs-12 md-6 mx-auto">
            <div>
                <img class="image-responsive center-block" width="30%" src="~/images/403Image.jpg" />
                <div style="font-family:'Gill Sans'; font-size:50px; text-align:center"><p><b>403</b></p></div>
                <div style="font-family:'Gill Sans'; font-size:50px; text-align:center"><p>Hmmm...</p></div>
                <div style="font-family:'Gill Sans'; font-size:20px; text-align:center"><p>You shall not pass. Go back <a asp-area="" asp-page="/Login">Home</a></p></div>
            </div>
        </div>
    </div>
</div>