@page
@model _223849J_OngSiXian.Pages.errors.generalModel
@{
}

<div class="container">
    <div class="row">
        <div class="xs-12 md-6 mx-auto">
            <div>
                <img class="image-responsive center-block" width="30%" src="~/images/500Image.jpg" />
                <div style="font-family:'Gill Sans'; font-size:50px; text-align:center"><p>Hello there, not sure how you got here</p></div>
                <div style="font-family:'Gill Sans'; font-size:20px; text-align:center"><p>but let's go back to safety - <a asp-area="" asp-page="/Login">Home</a></p></div>
            </div>
        </div>
    </div>
</div>