@using Microsoft.AspNetCore.Identity
@using _223849J_OngSiXian.Model;
@inject SignInManager<Member> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _223849J_OngSiXian</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_223849J_OngSiXian.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" asp-page="/Index">Bookworms Online</a>
                </div>
                    @{
                        //When user is login
                        if (SignInManager.IsSignedIn(User))
                        {
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a asp-area="" asp-page="/Index">Home</a>
                                </li>
                            <li>
                                <a asp-area="" asp-page="/changePassword">Change Password</a>
                            </li>
                                <li>
                                    <a asp-area="" asp-page="/Privacy">Privacy</a>
                                </li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                <a asp-area="" asp-page="/Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                                </li>
                            </ul>
                        }
                        //When user is not login
                        else
                        {
                            <ul class="nav navbar-nav navbar-right">
                                <!--Add registration page-->
                                <li>
                                    <a asp-area="" asp-page="/Registration"><span class="glyphicon glyphicon-user"></span> Register</a>
                                </li>
                                <!--Add login page-->
                                <li>
                                    <a asp-area="" asp-page="/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                                </li>
                            </ul>
                        }
                     }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-body-tertiary text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3 jumbotron" style="background-color: lightgrey; margin-top: 20px;">
            &copy; 2024 Bookworms Online
        </div>
        <!-- Copyright -->
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>