@page
@model _223849J_OngSiXian.Pages.changePasswordModel
@{
}

<div class="container">
    <h2>Change Password</h2>
    <form method="post" asp-antiforgery="true" ValidateRequest="true">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label class="form-label" asp-for="changePassword.CurrentPassword">Current Password:</label>
            <input type="password" asp-for="changePassword.CurrentPassword" class="form-control" placeholder="Enter current password">
            <span asp-validation-for="changePassword.CurrentPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="form-label" asp-for="changePassword.NewPassword">New Password:</label>
            <input type="password" asp-for="changePassword.NewPassword" class="form-control" placeholder="Enter new password">
            <span asp-validation-for="changePassword.NewPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="form-label" asp-for="changePassword.ConfirmPassword">Confirm Password:</label>
            <input type="password" asp-for="changePassword.ConfirmPassword" class="form-control" placeholder="Enter confirm password">
            <span asp-validation-for="changePassword.ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Change Password</button>
    </form>
</div>