@page
@model _223849J_OngSiXian.Pages.ForgetPasswordModel
@{
}

<div class="container">
    <h2>Forget Password</h2>
    <form method="post" asp-antiforgery="true" ValidateRequest="true">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label class="form-label" asp-for="forgetPassword.Email">Email:</label>
            <input type="email" asp-for="forgetPassword.Email" class="form-control" placeholder="Enter email">
            <span asp-validation-for="forgetPassword.Email" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Get password reset link</button>
    </form>
</div>