@page
@model _223849J_OngSiXian.Pages.ResetPasswordModel
@{
}

<div class="container">
    <h2>Change Password</h2>
    <form method="post" asp-antiforgery="true" ValidateRequest="true">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label class="form-label" asp-for="resetPassword.NewPassword">New Password:</label>
            <input type="password" asp-for="resetPassword.NewPassword" class="form-control" placeholder="Enter new password">
            <span asp-validation-for="resetPassword.NewPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="form-label" asp-for="resetPassword.ConfirmPassword">Confirm Password:</label>
            <input type="password" asp-for="resetPassword.ConfirmPassword" class="form-control" placeholder="Enter confirm password">
            <span asp-validation-for="resetPassword.ConfirmPassword" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="resetPassword.Token" class="form-control">
        <input type="hidden" asp-for="resetPassword.Email" class="form-control">

        <button type="submit" class="btn btn-success">Change Password</button>
    </form>
</div>